
@{
    ViewBag.Title = "Relatorio";
}


<div class="container">
    <h2 class="text-center">Alunos Matriculados</h2>
    <div class="form-group" style="margin-top:10px">
        <table id="tb_alunosmatriculados" class="table table-bordered">
            <thead>
                <tr>
                    <th class="dt-head-center">ID</th>
                    <th class="dt-head-center">NOME</th>
                    <th class="dt-head-center">IDENTIDADE</th>
                    <th class="dt-head-center">CPF</th>
                    <th class="dt-head-center">SITUAÇÃO</th>
                    <th class="dt-head-center">PRÓXIMO PAGAMENTO</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
