<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Detona Fit</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/Scripts/GerenciarAluno.js"></script>
    <script src="~/Scripts/GerenciarInstrutor.js"></script>

    <script src="~/Scripts/Relatorio.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#2bbbad !important;color:white !important;border:1px solid transparent">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Detona Fit", "Home", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content" style="border:1px solid transparent">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Detona Fit @DateTime.Now.Year - Priscilla Andrade Machado</p>
        </footer>
    </div>


</body>
</html>