
@{
    ViewBag.Title = "Home";
}

<h2 class="text-center">Bem-Vindo ao Detona Fit</h2>

<div class="container" style="margin-top:20px">
    <div class="col-md-3"></div>
    <a class="col-md-2 btn btn-info" href="GerenciarAluno/GerenciarAluno" role="button" style="margin-right:5px">Gerenciar Alunos</a>
    <a class="col-md-2 btn btn-success" href="GerenciarInstrutor/GerenciarInstrutor" role="button" style="margin-right:5px">Gerenciar Instrutores</a>
    <a class="col-md-2 btn btn-warning" href="Relatorios/Relatorio" role="button">Relatório</a>
    <div class="col-md-3"></div>

</div>